
*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}
body {
  position: relative;
 
  
}
.parent {
  position: sticky;
  top: 1%;
  
}
.container {
  width: 12vw ;
  display:flex;
  flex-direction: column;
  margin: 5% 2% 0% 2%;
  justify-content:center;
  align-items: center;

}
.bars {
   border: 1px solid black;
   margin: 3px;
   width: 10vw;
   
}
 .quote {
   display:inline-block;
   margin:0 2pt;
   padding:8px;
   font-family:sans-serif;
   font-weight:300;
   font-size:15px;
 }
.menu {
  display: none;
  width:80%;
  background-color: rgba(198,248,235,50%);
  z-index:500;
  
}
.menu-items {
    margin: 5px 0 5px 5px;
    border-bottom: 1px solid gray;
    height: 11vh;
    text-align:left;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    
}
.menu a {
    text-decoration:none;
    font-size: 4vw;
    font-family: serif;
    color:#000;
}
.menu a:hover {
    color: blue;
};
.menu a:visited {
    color:#c1c1c1;
}
.menu a:active{
    color:#c1c1c1;
}

.logo-container {
    position: fixed;
    top:3%;
    left: 70%;
}
.logo {
    font-size:1.5rem;
    color:blue;
    font-family:sans-serif;
    font-weight:600;
    z-index: 100;
}
.logo-me {
    color:red;
}
.quote-container {
    border: 1px solid gray;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.parent-con {
  position: relative;
 /* border:1px solid black;*/
  height: 20vh;
   margin: 3rem 1rem 1rem 1rem;
}
.quote-con {
   border:2px solid #987653;
   width: 90%;
   height: 80%;
   position:relative;
   background: #987654;
   margin:1.5vh;
}
.bust {
  border-top:1px solid #9876549 ;
  border-radius: 50%;
  width:  40%;
  height:80%;
  background-color:#f0f0f0;
  position:absolute;
  left:30%;
  right:30%;
  bottom:73%;
  background-image: url(Assets/Images/marcus-cicero.png);
  background-size:contain;
  background-repeat: no-repeat;
  background-position:left 21px top 10px;
  
}
.quote-txt {
   /* border: 1px solid red;*/
    width: 100%;
    height:70%;
    margin-top:11%;
    
}
.quote-txt p {
    padding: 5px;
    text-align: center;
    font-family:sans-serif;
    font-weight:400;
    
}